h1, h2, h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.dish{
  height: auto;
  width: 350px;
}

li{
  background-color: antiquewhite;
}

li, p {
  font-family:Arial, Helvetica, sans-serif
}